$bg-img: url('/images/grand_tetons_bg.jpg');

.App {
  text-align: center;
  background-image: url('images/grand_tetons_bg.jpg');
  background-size: cover;
  height: 100rem;
  width: 100rem;
  background-repeat: no-repeat;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-background {
  background-image: $bg-img;
  background-size: cover;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
